body {
    background-color: rgb(38, 45, 56);
    margin: 0;
}

.conatiner {
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    outline: 1px solid black;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    gap: 15px;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow-x: auto;
}

.item {
    background-color: rgb(26, 31, 38);
    border-radius: 20px;
    padding: 15px;
    transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.item:hover {
  box-shadow: 0 6px 15px rgba(255, 255, 255, 0.2); /* тень при наведении */
  transform: translateY(-5px);               /* лёгкое поднятие */
}

.imag {
    width: 450px;
    height: 240px;
    border-radius: 20px;
}